span.error-message {
    color: red;
    font-size: 13px;
}

.btn-xs {
    padding: 2px 6px;
    font-size: 12px;
    width: 28px;
    height: 24px;
}

.dataTables_filter input[type="search"] {
    border: 1px solid #e3e6f0;
    border-radius: 4px;
}

div.dataTables_wrapper div.dataTables_length select {
    border: 1px solid #e3e6f0;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 2px 4px;
}